- name: Ensure that /mnt/docker has at least 10GB free
  shell: "[ $(df -k --output=size,target | grep '/mnt/docker$' | awk '{print $1}') -gt 9437184 ]"
    
- name: Install docker pip module
  pip:
    name:
      - docker

- name: Ensure old versions of Docker are not installed
  package:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
    state: absent

- name: Install required tools
  package:
    name:
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
    state: present

- name: Add Docker repository
  shell: yum-config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo
  args:
    creates: /etc/yum.repos.d/docker-ce.repo 

- name: Install Docker
  package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: Ensure Docker is started and enabled at boot
  service:
    name: docker
    state: started
    enabled: true

- name: Create docker.service.d
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Change and apply dockerd settings
  copy:
    src: files/override.conf
    dest: /etc/systemd/system/docker.service.d/override.conf
    owner: root
    group: root
    mode: 0644
  register: dockerd

- name: Force systemd to reread configs
  systemd:
    daemon_reload: yes

- name: Restart Docker service
  service:
    state: restarted
    name: docker
  when: dockerd.changed
