- hosts: all
  become: true
  roles:
    - pip
    - disk
    - docker

- hosts: manager
  become: true
  roles:
    - swarm-manager

- hosts: worker
  become: true
  roles:
    - swarm-worker

- hosts: manager
  become: true
  roles:
    - docker-secure-tls
